@import "tailwindcss";

@import "./theme.css";

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background: var(--background);
    color: var(--text-primary);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F1EDF6;
}

::-webkit-scrollbar-thumb {
    background: #9470B0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #79599B;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 0.4s ease;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: floating 5s ease-in-out infinite;
}

/* ADD THIS PART */

@keyframes card {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-animation {
    animation: card 0.4s ease;
}